.archive-title-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
}

.archive-category {
  font-size: map-get($font-sizes, "xxxxl");
  font-weight: map-get($font-weights, "s");
  align-self: flex-start;
  margin: 0;
}
